<div class="row">
  <div class="col-sm-3 logo">
    {% if active_page != 'home' and show_logo != 'no' %}
    <a href="/">
      <img src="/theme/images/envoy-logo.svg"
           alt="Envoy">
    </a>
    {% endif %}
  </div>
  <div class="col-sm-6">
    <nav class="nav">
      <ul class="container-fluid">
        {% for link in NAV %}
        <li>
          <a href="{{ link.url }}"{% if active_page == link.id or (link.url.startswith('/') and (output_file == link.url.lstrip('/') ~ '.html' or output_file == link.url.lstrip('/') or output_file.startswith(link.url.lstrip('/') ~ '/'))) %} class="is-active" aria-current="page"{% endif %}>{{ link.text }}</a>
        </li>
        {% endfor %}
      </ul>
    </nav>
  </div>
</div>
